.advantages {
  position: relative;
  height: 970px;
  padding-top: 200px;
  color: var(--text-color-light);
  background: var(--bg-color-dark);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-bottom: 10px solid var(--accent-blue);
}

.advantages:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.advantages__inner {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-areas: "title form" "list form";
  align-items: center;
  justify-content: space-between;
  align-content: center;
  row-gap: 70px;
  column-gap: 20px;
  height: 100%;
}

.advantages__title {
  font-size: var(--fs-xxl);
  line-height: 70px;
  font-weight: 700;
  grid-area: title;
}

.advantages__list {
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  row-gap: 3rem;
  column-gap: 7rem;
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.advantages__icon {
  width: 94px;
  height: 71px;
}

.advantages__text {
  line-height: 30px;
  font-weight: 300;
}

.advantages__text_big {
  font-size: var(--fs-xl);
  white-space: nowrap;
}

.advantages__form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  box-shadow: 0px 16px 65px 0px rgba(67, 58, 49, 0.004);
}

.advantages-form__title {
  margin-bottom: 2rem;
  font-size: var(--fs-xl);
  font-weight: 800;
  line-height: var(--fs-xl);
}

.advantages-form__input {
  margin-bottom: 0.5rem;
}

.advantages-form__text {
  width: 260px;
  margin-top: 1.5rem;
  text-align: center;
  font-size: var(--fs-s);
}

@media (max-width: 1480px) {
  .advantages__inner {
    gap: 2rem;
  }
}

@media (max-width: 1200px) {
  .advantages__inner {
    grid-template-areas: "title title" "list form";
    justify-content: center;
  }

  .advantages__title {
    font-size: 3rem;
    text-align: center;
  }

  .advantages__list {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 992px) {
  .advantages {
    height: fit-content;
    padding-bottom: 50px;
  }

  .advantages__title {
    margin-top: 50px;
    font-size: var(--fs-xl);
    line-height: 2.5rem;
  }

  .advantages__item {
    gap: 1rem;
  }

  .advantages__text_big {
    font-size: 2rem;
  }

  .advantages-form__title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .advantages {
    padding: 100px 0 50px;
  }

  .advantages__inner {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "list" "form";
    justify-items: center;
    gap: 1.5rem;
  }

  .advantages__title {
    font-size: 2rem;
  }

  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .advantages__title {
    font-size: 1.7rem;
  }

  .advantages__list {
    grid-template-columns: 1fr;
  }

  .advantages__form {
    width: 100%;
  }

  .advantages-form__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}
