.btn,
.link {
  padding: 1rem 1.2rem;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 300ms ease-in-out;
}

.btn:hover,
.link:hover {
  transform: scale(1.03);
  opacity: 0.7;
}

.btn:active,
.link:active {
  transform: scale(1);
  opacity: 1;
}
