.calculation-form {
  height: 683px;
  padding: 110px 0;
  color: var(--text-color-light);
  text-align: center;
  background-color: var(--bg-color-dark);
  background-image: url("../assets/images/calculation-form-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.calculation-form__title {
  font-size: 48px;
  font-weight: 700;
}

.calculation-form__form {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 1.1rem;
  margin: 2rem 0 1rem;
}

.calculation-form__text {
  margin-top: 2rem;
  font-size: var(--fs-s);
}

@media (max-width: 1200px) {
  .calculation-form {
    height: fit-content;
    padding: 60px 0;
  }
}

@media (max-width: 992px) {
  .calculation-form {
    padding: 40px 0;
  }

  .calculation-form__title {
    font-size: 2rem;
  }

  .calculation-form__form {
    width: fit-content;
    margin: 30px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .calculation-form__text {
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .calculation-form__form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .calculation-form__title {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
