@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");

@import "./normalize.css";
@import "./variables.css";

/* UI */

@import "./ui/buttons.css";
@import "./ui/inputs.css";

/* COMPONENTS */

@import "./header.css";
@import "./advantages.css";
@import "./services.css";
@import "./calculation.css";
@import "./experience.css";
@import "./calculation-form.css";
@import "./projects.css";
@import "./guarantees.css";
@import "./delivery.css";
@import "./feedback.css";
@import "./info.css";
@import "./faq.css";
@import "./news.css";
@import "./footer.css";

/* BASICS */

body {
  font-size: var(--fs-md);
  font-family: "Manrope", sans-serif;
  color: var(--text-color-dark);
  background-color: var(--bg-color-light);
}

.wrapper {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  max-width: 183px;
}

.section-title {
  font-size: var(--fs-xxxl);
  line-height: var(--fs-xxxl);
  text-align: center;
}

.section-subtitle {
  font-size: var(--fs-xl);
  font-weight: 700;
  text-align: center;
}
