.footer {
  position: relative;
  padding: 90px 0;
  color: var(--text-color-light);
  background-color: var(--bg-color-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-blue);
  opacity: 0.3;
}

.footer__inner {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: ". . . . adress calculation";
  gap: 1rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__contacts {
  grid-area: adress;
}

.footer__phone {
  font-size: var(--fs-l);
  font-weight: 700;
}

.footer__calculation {
  grid-area: calculation;
}

.footer__rules {
  padding: 0;
}

@media (max-width: 1200px) {
  .footer {
    padding: 50px 0;
  }

  .footer__inner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". . ." ". adress calculation";
    gap: 3rem 1rem;
  }

  .footer__rules {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: ". . " ". ." " adress calculation";
  }
}

@media (max-width: 576px) {
  .footer__inner {
    grid-template-columns: 1fr;
    grid-template-areas: "." "." "." "." "adress" "calculation";
    text-align: center;
  }

  .footer__rules {
    text-align: center;
  }
}
