.projects {
  padding: 65px 0 50px;
}

.projects__title {
  margin-bottom: 60px;
  font-size: var(--fs-xl);
  font-weight: 700;
  text-align: center;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.projects__item {
  height: 350px;
  padding: 60px;
  color: var(--text-color-light);
  background-color: var(--bg-color-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.projects__item:hover {
  transform: scale(1.05);
}

.projects__year {
  margin-bottom: 0.5rem;
  font-size: var(--fs-xl);
  font-weight: 700;
}

.projects__text {
  font-size: var(--fs-l);
  font-weight: 700;
}

@media (max-width: 1200px) {
  .projects__list {
    gap: 2rem;
  }
}

@media (max-width: 992px) {
  .projects {
    padding: 30px 0;
  }

  .projects__title {
    margin-bottom: 30px;
  }

  .projects__item {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .projects__list {
    grid-template-columns: 1fr;
  }

  .projects__item {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .projects__title {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .projects__text {
    font-size: 1rem;
  }
}
